@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<ToDo>

<h3>Your TODO list: </h3>

@if (@Model.Any())
{
        <table class="table">
            <thead><th scope="col">Id</th><th scope="col">Name</th><th scope="col">Description</th><th scope="col">Actions</th></thead>
        @foreach(ToDo todo in @Model)
        {
            <tr scope="row">
            <td scope="col">@todo.Id</td><td scope="col">@todo.Name</td><td scope="col">@todo.Description</td><td><a href="/Home/Delete/@todo.Id">Trinti</a></td>
            </tr>
        }
        </table>
} else{
        <h4>List is empty</h4>
    }